@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
    margin: 5px;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Sofia Sans, sans-serif;
    font-weight: 400;
    color: #215d56;
}

/* heading and logo*/
header a {
    text-decoration: none;
}

#logo {
    float: center;
    font-size: 300%;
    margin-right: 40px;
    line-height: 50px;
}

h1 {
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #215d56;

}

h2 {
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #55c8bc;
}

h3 {
    font-family: Sofia Sans, sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #ffffff;
}

h5 {
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #64c8bc;
}

#categories {
        font-size: 100%;
        letter-spacing: 3px;
        text-align: right;
    }

#categories, #logo {
        line-height: 50px;
    } 

#categories li {
        display: inline-block;
        list-style-type: disc;
        margin-right: 30px;
    }

#categories a {
        text-decoration: overline rgb(144, 230, 205) 1px;
        color: inherit;
    }

#categories a:hover {
        border-bottom: 2px solid gainsboro;
    }

.active {
        border-bottom: 1px solid #1ab5c7;
    }

/* lights image */

#mullen-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

#mullen-text, #mullen-text h2 {
    color: #fff;
}

#lights-image {
    height: 500px;
    width: 70%;
    background: url(../images/pexels-deva-darshan-1173777.jpg) no-repeat center center;
    overflow: hidden;

    /* animates zoom effect on leading page */

    animation-name: lights-zoom;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

/* transforms the lights image*/

@keyframes lights-zoom {
    from {
        transform: scale(0.4);
    }
    to {
        transform: scale(1.1);
    }
}

#mullen-text {
    font-size: 130%;
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 500px;
    height: 0px;
    
    padding-top: 250px;
    padding-left: 450px;

    bottom: 5px;
    right: 160px;

    position: absolute; top: 40px; left: 480px;
}

#intro-investors {
    font-size: 150%;
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 600px;
    height: 100px;
    
    padding-top: 0px;
    padding-left: 450px;

    bottom: 5px;
    right: 160px;

    position: absolute; top: 2px; left: 200px;
}

 div h3 <{
    font-family: Sofia Sans, sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #215d56;
}

/* Milestone section*/

#milestones {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow:hidden;
}

#milestones div {
    color:#215d56;
    width: 50%;
    height: 230px;
    float: left;
    padding: 26px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 0%
}

#information {
    text-align: center;
    margin: 0px 0;
    font-size: 280%;
    color: #215d56;
    background-color: #fff;
    background-image: none;
}

#milestones {
background-image: url(../images/pexels-pixabay-315938.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
overflow:hidden;
opacity: 0.5
}

#milestones:hover {
    opacity: 1.0
}


/* News */

#welcome-news{
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* News */

#news-mullen{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#news {
    height: 400px;
}

.social-news {
    text-align: center;
    padding-top: 100px;
}

.social-news > li {
    display: inline-block;
    width: 23%;
}

.social-news i {
    font-size: 1500%;
    margin: 0%;
    padding: 0%;
    color: #55c8bc;
}

#newsh {
    text-align: center;
}

.social-news:hover {
    color: #55c8bc;
    border-color: #1c5437;
    
}


/* form style */

.form-section {
    clear: left;
    background: url("../images/pexels-matheus-bertelli-799443.jpg");
    background-size: cover;
    background-position: center;
    height: 520px;
}

#memberH {
    padding-top: 1px;
    padding-right: 1px;
}

.label-color {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
    text-align: left;
}

.signup-form {
    margin: 70px 10% 0% 0%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;
    position: absolute;
    left: 33%;
    padding: 24px;
}

.label-color:hover {
    border-color: #119089;
}

.moon-button {
    margin-top: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #73d7b6;
    color: #fafafa;
    display: block;
    border-radius: 1px;
}

.moon-button:hover {
    background-color: #73d7b6;
    color: #1c5437;
}