@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Sofia Sans, sans-serif;
    font-weight: 400;
    color: #215d56;
}

/* heading and logo*/
header a {
    text-decoration: none;
}

#logo {
    float: center;
    font-size: 300%;
    margin-right: 40px;
}

h1 {
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #215d56;

}

h2 {
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #55c8bc;
}

h3 {
    font-family: Sofia Sans, sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #ffffff;
}

h5 {
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #64c8bc;
}

#categories {
        font-size: 100%;
        letter-spacing: 3px;
    }

#categories, #logo {
        line-height: 50px;
    } 

#categories li {
        float: right;
        list-style-type: disc;
        margin-right: 30px;
    }

#categories a {
        text-decoration: overline rgb(144, 230, 205) 1px;
        color: inherit;
    }

#categories a:hover {
        border-bottom: 2px solid gainsboro;
    }

.active {
        border-bottom: 1px solid #1ab5c7;
    }

/* lights image */

#mullen-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

#mullen-text, #mullen-text h2 {
    color: #fff;
}

#lights-image {
    height: 600px;
    width: 70%;
    background: url(../images/pexels-deva-darshan-1173777.jpg) no-repeat center center;
    overflow: hidden;

    /* animates zoom effect on leading page */

    animation-name: lights-zoom;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

/* transforms the lights image*/

@keyframes lights-zoom {
    from {
        transform: scale(0.4);
    }
    to {
        transform: scale(1.1);
    }
}

#mullen-text {
    font-size: 130%;
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 600px;
    height: 130px;
    
    padding-top: 400px;
    padding-left: 450px;

    bottom: 5px;
    right: 160px;

    position: absolute; top: 40px; left: 480px;
}

#intro-investors {
    font-size: 170%;
    font-family: Sofia Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 600px;
    height: 100px;
    
    padding-top: 40px;
    padding-left: 450px;

    bottom: 5px;
    right: 160px;

    position: absolute; top: 2px; left: 200px;
}

 div h3 <{
    font-family: Sofia Sans, sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #215d56;
}

/* Milestone section*/

#milestones {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow:hidden;
}

#milestones div {
    color:#fafafa;
    width: 50%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#information {
    text-align: center;
    margin: 0px 0;
    font-size: 280%;
    color: #215d56;
    background-color: #fff;
    background-image: none;
}

#milestones {
background-image: url(../images/pexels-pixabay-315938.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
overflow:hidden;
}

/* Social Networks */

.social-networks {
    text-align: center;
    display: outside;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;